.contenedor-infografia { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:fit-content ;
    border-top: solid 1.3px #EBEBEB;
    border-bottom: solid 1.3px #EBEBEB;
    text-align: left;
}
.contenedor-columnas-infografia {
    justify-content: center;
    align-items: center;
}

.imagen-infografia{
    width: 20%;
}

.contenedor-imagen {
    padding-bottom: 5%;
}
