.contenedor-formulario-general{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    box-shadow: 13px 10px 15px -7px rgba(0,0,0,0.1);
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
}

.formulario-campos {
    color: black;
    font-size: 30px;
}

.formulario-campos li {
    text-decoration: none;
    list-style: none;
    padding-top:1rem;
}

.formulario-campos li label {
    color:gray;
}

.Titulo-formulario-empleo {
    text-align: right;
}
