.title-item-list-container {
    font-size: 30px;
}
.contenedor-list{
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 5px;
    margin-top:100px;
    border-bottom: solid 2px;
    border-color: whitesmoke;
}