.contenedor-general-contacto{
    padding-top: 20px;
    width: auto;
    padding-bottom: 14%;
   
}

.contenedor-mapas {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 500px;
}

.contenedor-contacto {
    box-shadow: 13px 10px 15px -7px rgba(0,0,0,0.1);

}

.contenedor-imagen-redes{
    transition: transform .3s;

}

.contenedor-imagen-redes img:hover{
    transform: scale(1.09);
}