.contenedor-footer { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    background-color: #F7F7F7;
    color: black;
    align-items: center;
    justify-content: space-around;
    position:static;
    bottom:0;
    height: max-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contenedor-footer ul{
    text-decoration: none;
    list-style: none;
}


.columna-redes img {
    width: 10%;
}

.columna-redes {
    display: flex;
    flex-wrap: wrap;
}