.cantidad-productos { 
    align-items: center;
    border: 4px;
    border:white;
    width: 20%;
}

.container-cantidades { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit:contain;
    padding-left: 5px;
    padding-right: 5px;
}

.container-cantidades button {
    display: flex;
    padding: 10px;
    height: 25px;

}

